@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  /* height: 100vh; */
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  color: black;
}
