@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  -webkit-font-smoothing: antialiased;
  @apply font-normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  color: black;
}

.gutter {
  @apply px-[20px] sm:px-[37px];
}

.gutter-right {
  @apply mr-[20px] sm:mr-[37px];
}

.indent {
  @apply md:px-[5vw];
}

p {
  @apply font-normal;
}
