/* Desktop Nav */

nav .link {
  position: relative;
}

nav .link:hover {
  @apply text-[grey];
}

nav .link::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-bottom: solid 1px black;
  opacity: 0;
}

nav .link-container:hover .link::after {
  opacity: 1;
}

nav .link-container .link.active::after {
  opacity: 1;
}

/* nav .backpanel {
  opacity: 0;
} */
/* nav .backpanel:has(+ .links:hover) {
  opacity: 1;
} */

/* Submenu */
.submenu-container .submenu-item:hover {
  /* color: black; reverse */
  @apply text-[grey];
}
.submenu-container .submenu-item.active {
  /* color: black; reverse */
  @apply text-[grey];
}

/* Flyout (desktop only) */
.flyout-menu-item {
  /* color: black; reverse */
  @apply text-black;
}
.flyout-menu-item:hover {
  /* color: black; reverse */
  @apply text-[grey];
}

.mob-nav {
  height: calc(100% - 4.5rem);
  width: calc(100%);
}
