nav .link {
  position: relative;
}
nav .link::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-bottom: solid 1px black;
  opacity: 0;
}

nav .link-container:hover .link::after {
  opacity: 1;
}

nav .link-container .link.active::after {
  opacity: 1;
}

.submenu-container .submenu-item:hover {
  color: black;
}

.flyout-menu-item:hover {
  color: black;
}
